{% extends "layout.html" %}
{% load my_tags %}
{% load static %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}

{% block navbar %}
    <li>资产管理</li>
    <li class="active">资产列表</li>
{% endblock %}

{% block content %}
    <div class="alert alert-danger offset-left-2 hidden" role="alert">所选资产删除失败 ! !</div>
    <div class="alert alert-success offset-left-2 hidden" role="alert">已成功删除所选资产 ! !</div>
    <!-- 当前页展示 -->
    <div class="content">
        <div class=" content-header">
            <h3 style="text-indent: 20px;">资产列表</h3>
        </div>

        <div class="content-op">
            <a href="{% url 'cmdb_ui:asset_add' %}" class="btn btn-success btn-sm btn-asset-position">添加资产</a>
{#            <a href="#" class="btn btn-danger btn-sm btn-asset-position">删除所选</a>#}
            <button type="button" id="deletion-selected" class="btn btn-sm btn-danger" data-toggle="modal">删除所选</button>

            <div class="search">
                <div class="input-group search-width">
                    <input id="search-input" type="text" class="form-control" placeholder="ip or hostname">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="table-page table-responsive">
            <table class="table table-hover table-striped" style="margin-bottom: -8px;">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="checkall" type="checkbox" name="checkall" value="checkall" >
                        </th>
                        <th>资产类型</th>
                        <th>内网IP</th>
                        <th>外网IP</th>
                        <th>业务线</th>
                        <th>机房</th>
                        <th>系统</th>
                        <th>用途</th>
                        <th>负责人</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    {% for asset in assets %}
                    <tr data-id="{{ asset.id }}">
                        <td class="text-center">
                            <input type="checkbox" name="assetid" value="{{ asset.id }}">
                        </td>
                        <td>{{ asset.asset_type }}</td>
                        {% if asset.asset_type in servers %}
                            <td>{{ asset.server.lan_ip }}</td>
                            <td>{{ asset.server.wan_ip | default_if_none:"" }}</td>
                        {% else %}
                            <td>{{ asset.networkdevice.ip | default_if_none:"" }}</td>
                            <td>{{ asset.networkdevice.mac | default_if_none:"" }}</td>
                        {% endif %}
                        <td>{{ asset | get_business_line | join:"、" }}</td>
                        <td>{{ asset.idc.name }}</td>
                        {% if asset.asset_type in servers %}
                            <td>{{ asset.server.os }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ asset.use }}</td>
                        <td>{{ asset.contact.realname }}</td>
                        {% if asset.state == 1 %}
                        <td><button type="button" class="btn btn-xs btn-success">在线</button></td>
                        {% else %}
                        <td><button type="button" class="btn btn-xs btn-block">下线</button></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'cmdb_ui:asset_detail' asset_id=asset.id %}" class="btn btn-xs btn-primary">详情</a>
                            <a href="{% url 'cmdb_ui:asset_edit' asset_id=asset.id %}" class="btn btn-xs btn-info">编辑</a>
                            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal">删除</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- 警告模态框 -->
            <div class="modal fade" id="alert-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h4 style="color: orangered; text-align: center;">警告</h4></div>
                    <div class="modal-body"><h5 style="text-align: center;">确定要删除所选资产? 此操作不可逆</h5></div>
                    <div class="modal-footer">
                        <button type="button" id="btn-modal-yes" class="btn btn-danger">删除</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
              </div>
            </div>

            <!-- 分页 -->
            <nav aria-label="Page navigation" style="float: right;">
                <ul class="pagination">
{#                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
{#                    <li><a href="{% url 'cmdb_ui:asset_list' page_num=1 %}">1</a></li>#}
                    {{ page_html }}
{#                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block JavaScripts %}
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/list.js' %}"></script>
{% endblock %}


