{% extends 'layout.html' %}
{% load static %}
{% load bootstrap %}
{% load my_tags %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/add.css' %}" />
{% endblock %}

{% block navbar %}
    <li>资产管理</li>
    <li class="active">编辑资产信息</li>
{% endblock %}

{% block content %}
    <div id="alert-danger" class="alert alert-danger offset-left-2 {{ hidden_failed }}" role="alert">资产修改失败: {{ errors }}</div>
    <div id="alert-success" class="alert alert-success offset-left-2 {{ hidden_success }}" role="alert">资产修改成功 ! !</div>
    <!-- 当前页展示 -->
    <div class="content content-padding">
        <div class="content-header">
            <h3 style="text-indent: 20px;">编辑资产信息</h3>
        </div>

        <form class="form-horizontal" style="margin-top: 30px;" action="{% url 'cmdb_ui:asset_edit' asset_id=asset.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="route" id="route" value="networkdevice">

            <div class="form-group">
                <label for="serialnum" class="col-sm-2 control-label">资产序列号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serialnum" name="serialnum" aria-required="true" value="{{ asset.serialnum }}">
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="serialnum">该字段不能为空!</span>
            </div>

            <div class="form-group">
                <label for="asset_type_select" class="col-sm-2 control-label">资产类型</label>
                <div class="col-sm-6">
                    <select name="asset_type" id="asset_type_select" class="form-control" disabled>
                        {% for atp in asset_types %}
                            {% if atp.id == asset.asset_type_id %}
                        <option value="{{ atp.id }}" selected="selected">{{ atp.name }}</option>
                            {% else %}
                        <option value="{{ atp.id }}">{{ atp.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="asset_type">该字段不能为空!</span>
            </div>

            <div class="form-group">
                <label for="idc_select" class="col-sm-2 control-label">机房</label>
                <div class="col-sm-6">
                    <select id="idc_select" name="idc" class="form-control">
                        {% for idc in idcs %}
                            {% if idc.id == asset.idc_id %}
                        <option value="{{ idc.id }}" selected>{{ idc.name }}</option>
                            {% else %}
                        <option value="{{ idc.id }}">{{ idc.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="idc">该字段不能为空!</span>
           </div>

            <div class="form-group">
                <label for="rack_number" class="col-sm-2 control-label">机柜号</label>
                <div class="col-sm-6">
                    <input type="number" name="rack_number" class="form-control" id="rack_number" placeholder="输入必须为数字" value="{{ asset.rack_number |default_if_none:"" }}">
                </div>
            </div>

            <div class="form-group">
                <label for="rack_position" class="col-sm-2 control-label">机柜U位</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="rack_position" id="rack_position" placeholder="输入必须为数字" value="{{ asset.rack_position |default_if_none:"" }}">
                </div>
            </div>

            <div class="form-group">
                <label for="usergroup_select" class="col-sm-2 control-label">用户组/项目组</label>
                <div class="col-sm-6">
                    <select id="usergroup_select" name="usergroup[]" multiple class="form-control">
                        {% for usergroup in usergroups %}
                            {% if usergroup.id in asset|fetch_groups_id %}
                        <option value="{{ usergroup.id }}" selected>{{ usergroup.groupname }}</option>
                            {% else %}
                        <option value="{{ usergroup.id }}">{{ usergroup.groupname }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="assetgroup_type_select" class="col-sm-2 control-label">资产组</label>
                <div class="col-sm-6">
                    <select id="assetgroup_type_select" name="assetgroup" class="form-control">
                        {% for assetgroup in assetgroups %}
                            {% if assetgroup.id == asset.assetgroup_id %}
                        <option value="{{ assetgroup.id }}" selected>{{ assetgroup.groupname }}</option>
                            {% else %}
                        <option value="{{ assetgroup.id }}">{{ assetgroup.groupname }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="networkdevice">
                <div class="form-group">
                    <label for="netname" class="col-sm-2 control-label">设备名/设备型号</label>
                    <div class="col-sm-6">
                        <input type="text"  class="form-control" name="networkdevice-name" id="netname" aria-required="true" value="{{ asset.networkdevice.name }}">
                    </div>
                    <span style="color: red; font-size: 20px;">*</span>
                </div>

                <div class="form-group">
                    <label for="netvendor" class="col-sm-2 control-label">供应商</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="networkdevice-vendor" id="netvendor" value="{{ asset.networkdevice.vendor |default_if_none:""}}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="comment" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="comment" id="comment" value="{{ asset.networkdevice.comment |default_if_none:""}}">
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-6">
                    <select id="state" name="state" class="form-control">
                        {% if asset.state == 1 %}
                        <option value="1" selected>在线</option>
                        <option value="0" >离线</option>
                        {% else %}
                        <option value="0" selected>离线</option>
                        <option value="1" >在线</option>
                        {% endif %}
                    </select>
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="state">该字段不能为空!</span>
           </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="button" id="submit_button" class="btn btn-sm btn-success form-control">提交</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}

{% block JavaScripts %}
    <script type="text/javascript" src="{% static 'js/asset_add.js' %}"></script>
{% endblock %}