{% extends "layout.html" %}
{% load my_tags %}

{% block link-css %}
    <link rel="stylesheet" href="/static/css/list.css" />
{% endblock %}

{% block content %}
    <!-- 当前页展示 -->
   <div class="content">
        <div class="content-header">
            <h3 style="text-indent: 20px;">查看用户组</h3>
        </div>

        <div class="content-op">
            <a href="#">
                <div class="add-host">添加小组</div>
            </a>

            <a href="#">
                <div class="delete-selected">删除所选</div>
            </a>

            <div class="search">
                <input id="search-input" placeholder="group name" type="text" />
                <span class="search-font">Search</span>
            </div>
        </div>

        <div class="table-page">
            <table  cellspacing="0" cellpadding="10" class="table-style" >
                <thead>
                <tr class="head">
                    <th width="15px;"><input type="checkbox" name="checkall" id="checkall" onclick="checkAll(this);"/></th>
                    <th>组名</th>
                    <th>成员数</th>
                    <th>主机组数</th>
                    <th width="145px">操作</th>
                </tr>
                </thead>

                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td ><input type="checkbox" name="infoList" value="{{ group.id }}"/></td>
                        <td >{{ group.groupname }}</td>
                        <td >{% getGroupInfo group.id 'user' True %}</td>
                        <td >{% getGroupInfo group.id 'assetgroup' True %}</td>
                        <td>
                            <div class="info-operator"><div class="font-control"><a href="#">详情</a></div></div>
                            <div class="add-operator"><div class="font-control"><a href="#">编辑</a></div></div>
                            <div class="delete-operator"><div class="font-control"><a href="#">删除</a></div></div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        <!-- 分页 -->
            <div class="page-border">
                {{ pages_html }}
{#                <a href="#" ><div class="page-button page-button-width">后一页</div></a>#}
{#                <a href="#"><div class="page-button-num page-button">2</div></a>#}
{#                <a href="#"><div class="page-button page-button-width">前一页</div></a>#}
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}


{% block JavaScripts %}
    <script type="text/javascript">
        (function($){
            //展开菜单
            $('.parentMenu span').each(function () {
                if ($(this).html() == '用户管理') {
                    $(this).parent().addClass('bgcolor active');
                    $(this).parent().siblings('.submenu').removeClass('hide');
                }
            });
        })(jQuery);
    </script>
    <script type="text/javascript" src="/static/js/list.js"></script>
{% endblock %}