<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的地盘</title>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.6.3/css/font-awesome.min.css"/>
    {% block link-css %}{% endblock %}
</head>
<body>
    <!-- 顶栏 -->
    <div id="custom-header">
        <div class="logout">
            <a class="font-logout" href="/mytest/logout">[logout]</a>
        </div>
         <div class="logout">
            欢迎来到我的地盘
        </div>
        <div style="clear: both;"></div>
    </div>


    <!-- 页面菜单和内容布局 -->
    <div id="layout">
         <!-- 左边菜单 -->
        <div id="menu">

            <!-- 用户图标和信息 -->
            <div style="margin-top: 20px;">
                <div class="icon">
                    <img src="/static/images/photo.gif" />
                </div>

                <div class="custom-title" id="viewUserInfo">
                    <div >{{ username }}</div>
                    <div style="font-size: 13px; margin-top: 5px;">
                        <span >{{ role }}</span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <!-- 用户个人信息展示 -->
            <div id="UserInfo" class="hide">
                <a class="info-layout" href="#">个人信息</a>
                <a class="info-layout" href="#">修改信息</a>
                <a class="info-layout" style="margin-top: 20px; border-top: 1px lightgray solid;" href="{% url 'logout' %}">退出</a>
            </div>


            <!-- dashboard -->
            <div id="dashboard" class="bgcolor">
                <div class="dafont">
                    <i class="fa fa-tachometer font-icon" aria-hidden="true"></i>
                    <span class="coarse-font"><a href="/mytest/">DashBoard</a></span>
                </div>
            </div>

            <!-- 用户管理菜单组 -->
             <div class="GroupSpace ">
                 <div class="parentMenu">
                     <i class="fa fa-user font-icon" aria-hidden="true"></i>
                     <span class="coarse-font">用户管理</span>
                 </div>
                 <ul class="submenu bgcolor hide" >
                     <li ><a href="{% url 'user_list' %}">查看用户</a></li>
                     <li style="margin-top: 15px;"><a href="{% url 'group_list' %}">查看小组</a></li>
                 </ul>
            </div>

            <!-- 资产管理菜单组 -->
            <div class="GroupSpace ">
                <div class="parentMenu">
                    <i class="fa fa-database font-icon" aria-hidden="true"></i>
                    <span class="coarse-font">资产管理</span>
                </div>
                <ul class="submenu bgcolor hide">
                    <li><a href="{% url 'assetgroup_list' %}">查看主机组</a></li>
                    <li style="margin-top: 15px;"><a href="{% url 'host_list' %}">查看主机</a></li>
                    <li style="margin-top: 15px;"><a href="{% url 'idc_list' %}">查看机房</a></li>
                </ul>
            </div>

            <!-- 授权管理菜单组 -->
            <div class="GroupSpace ">
                <div class="parentMenu">
                    <i class="fa fa-file-text-o font-icon" aria-hidden="true"></i>
                    <span class="coarse-font">授权管理</span>
                </div>
                <ul class="submenu bgcolor hide">
                    <li><a href="#">用户授权</a></li>
                    <li style="margin-top: 15px;"><a href="#">用户组授权</a></li>
                </ul>
            </div>
        </div>


        <!-- 右边导航和具体内容 -->
        <div style="margin-left: 200px; position:relative;">
            <!-- 导航栏 -->
            <div id="navigation">
                <div class="nav-content">
                    <a style="color: gray;" href="#">Dashboard / </a>
                </div>
            </div>


            {% block content %}{% endblock %}
        </div>

    </div>



    <!-- footer -->
    <div id="footer">
        <div class="custom-footer">
            <div class="footer-font">Copyright 版权所有</div>
        </div>
    </div>

    <!-- java script -->
    <script type="text/javascript" src="/static/js/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/layout.js"></script>
    {% block JavaScripts %} {% endblock %}
</body>
</html>