{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cmdb | 资产管理系统</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    {% block link-css %}{% endblock %}
</head>
<body>
    <div class="warp">
    <!-- 顶栏 -->
        <div id="custom-header">
            <div class="logout" id="logout">
                <a class="font-logout" href="{% url 'cmdb_ui:logout' %}">[ 退出 ]</a>
            </div>
             <div class="logout">
                欢迎使用资产管理系统
            </div>
            <div class="clearfix"></div>
        </div>


    <!-- 页面菜单和内容布局 -->
         <div id="layout">
             <!-- 左边菜单 -->
            <div id="menu" class="bgcolor">

                <!-- 用户图标和信息 -->
                <div style="margin-top: 20px;">
                    <div class="icon">
                        <img src="{% static 'images/photo.gif' %}" />
                    </div>

                    <div class="custom-title" id="viewUserInfo">
                        <div >{{ username }}</div>
                        <div style="font-size: 13px; margin-top: 5px;">
                            <span >{{ realname }}</span>
                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <!-- 用户个人信息展示 -->
                <div id="UserInfo" class="hide">
                    <a class="info-layout" href="#">个人信息</a>
                    <a class="info-layout" href="#">修改信息</a>
                    <a class="info-layout" style="margin-top: 20px; border-top: 1px lightgray solid;" href="{% url 'cmdb_ui:logout' %}">退出</a>
                </div>


                <!-- dashboard -->
                <div id="dashboard" class="bgcolor">
                    <div class="dashboard-font">
{#                        <i class="fa fa-tachometer font-icon" aria-hidden="true"></i>#}
                        <i class="fa fa-home font-icon" aria-hidden="true"></i>
                        <span class="coarse-font"><a href="{% url 'cmdb_ui:index' %}">DashBoard</a></span>
                    </div>
                </div>

                <!-- 资产录入菜单组 -->
                 <div class="GroupSpace ">
                     <div class="parentMenu">
                         <i class="fa fa-file-text-o font-icon" aria-hidden="true"></i>
                         <span class="coarse-font">资产录入</span>
                         <i class="fa fa-plus" style="margin-left: 50px; font-size: 9px;" aria-hidden="true"></i>
                     </div>
                     <ul class="submenu bgcolor hide" >
                         <li ><a href="{% url 'cmdb_ui:asset_add_server' %}">
                             <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                             添加服务器
                         </a></li>

                         <li style="margin-top: 15px;"><a href="{% url 'cmdb_ui:usergroup_list' %}">
                             <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                             添加网络设备
                         </a></li>
                     </ul>
                </div>

                <!-- 资产管理菜单组 -->
                <div class="GroupSpace ">
                    <div class="parentMenu">
                        <i class="fa fa-database font-icon" aria-hidden="true"></i>
                        <span class="coarse-font">资产管理</span>
                        <i class="fa fa-plus" style="margin-left: 50px; font-size: 9px;" aria-hidden="true"></i>
                    </div>
                    <ul class="submenu bgcolor hide">
                        <li><a href="{% url 'cmdb_ui:asset_list' %}">
                            <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                            资产列表
                        </a></li>
                        <li style="margin-top: 15px;"><a href="{% url 'cmdb_ui:idc_list' %}">
                            <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                            机房列表
                        </a></li>
                    </ul>
                </div>

                <!-- 业务管理菜单组 -->
                <div class="GroupSpace ">
                    <div class="parentMenu">
                        <i class="fa fa-sitemap font-icon" aria-hidden="true"></i>
                        <span class="coarse-font">业务管理</span>
                         <i class="fa fa-plus" style="margin-left: 50px; font-size: 9px;" aria-hidden="true"></i>
                    </div>
                    <ul class="submenu bgcolor hide">
                        <li><a href="#">
                            <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                            用户
                        </a></li>
                        <li style="margin-top: 15px;"><a href="#">
                            <i class="fa fa-bars" style="margin-right: 5px;" aria-hidden="true"></i>
                            业务线
                        </a></li>
                    </ul>
                </div>
            </div>

            <!-- 右边导航和具体内容 -->
            <div style="margin-left: 200px;">
                <!-- 导航栏 -->
                <ol id="navbar" class="breadcrumb navigation">
                    <li >Dashboard</li>
                    {% block navbar %}{% endblock %}
{#                  <li> <a  class="active" href="{% url 'cmdb_ui:index' %}">Dashboard</a></li>#}
                </ol>

                {% block content %}{% endblock %}
            </div>
        </div>

        <!--footer-->
        <footer class="custom-footer">
            <div class="footer-font">Copyright cmdb.org Organization 2017-12-30</div>
        </footer>
    </div>
    <!-- java script -->
    <script type="text/javascript" src="{% static 'js/jquery-2.2.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
    {% block JavaScripts %} {% endblock %}
</body>
</html>