{% extends "layout.html" %}
{% load my_tags %}
{% load static %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}

{% block navbar %}
    <li>用户管理</li>
    <li class="active">查看用户组</li>
{% endblock %}

{% block content %}
    <div class="alert alert-danger offset-left-2 hidden" role="alert">所选用户组删除失败 ! !</div>
    <div class="alert alert-success offset-left-2 hidden" role="alert">已成功删除所选用户组 ! !</div>
    <!-- 当前页展示 -->
    <div class="content">
        <div class=" content-header">
            <h3 style="text-indent: 20px;">查看用户组</h3>
        </div>

        <div class="content-op">
            <a href="{% url 'cmdb_ui:usergroup_add' %}" class="btn btn-success btn-sm btn-asset-position">添加用户组</a>
            <button type="button" id="deletion-selected" class="btn btn-sm btn-danger" data-toggle="modal">删除所选</button>

            <div class="search">
                <div class="input-group search-width">
                    <input id="search-input" type="text" class="form-control" placeholder="group name">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="table-page table-responsive">
            <table class="table table-bordered" style="margin-bottom: -8px;">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input id="checkall" type="checkbox" name="checkall" value="checkall" >
                        </th>
                        <th>组名</th>
                        <th>拥有主机数</th>
                        <th>拥有资产组</th>
                        <th>注释</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    {% for ug in usergroups %}
                    <tr data-id="{{ ug.id }}">
                        <td class="text-center">
                            <input type="checkbox" name="assetgroupid" value="{{ ug.id }}">
                        </td>
                        <td>{{ ug.groupname }}</td>
                        <td>{{ ug | servers_count }}</td>
                        <td>{{ ug | fetch_assetgroup_names | join:"、" }}</td>
                        <td>{{ ug.comment | default_if_none:"" }}</td>

                        {% if ug.groupname == '管理员组' %}
                        <td>
                            <a href="{% url 'cmdb_ui:usergroup_detail' usergroup_id=ug.id %}" class="btn btn-xs btn-success">详情</a>
                            <a href="#" class="btn btn-xs btn-info" disabled>编辑</a>
                            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" disabled>删除</button>
                        </td>
                        {% else %}
                         <td>
                            <a href="{% url 'cmdb_ui:usergroup_detail' usergroup_id=ug.id %}" class="btn btn-xs btn-success">详情</a>
                            <a href="{% url 'cmdb_ui:usergroup_edit' usergroup_id=ug.id %}" class="btn btn-xs btn-info">编辑</a>
                            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal">删除</button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- 警告模态框 -->
            <div class="modal fade" id="alert-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h4 style="color: orangered; text-align: center;">警告</h4></div>
                    <div class="modal-body"><h5 style="text-align: center;">确定要删除所选用户组? 此操作不可逆</h5></div>
                    <div class="modal-footer">
                        <button type="button" id="btn-modal-yes" class="btn btn-danger">删除</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
              </div>
            </div>

            <!-- 分页 -->
            <nav aria-label="Page navigation" style="float: right;">
                <ul class="pagination">
{#                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
{#                    <li><a href="{% url 'cmdb_ui:asset_list' page_num=1 %}">1</a></li>#}
                    {{ page_html }}
{#                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>#}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block JavaScripts %}
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/list.js' %}"></script>
{% endblock %}


