{% extends 'layout.html' %}
{% load static %}
{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/add.css' %}" />
{% endblock %}

{% block navbar %}
    <li>用户管理</li>
    <li class="active">添加用户</li>
{% endblock %}

{% block content %}
    <div id="alert-danger" class="alert alert-danger offset-left-2 {{ hidden_failed }}" role="alert">用户添加失败: {{ errors }}</div>
    <div id="alert-success" class="alert alert-success offset-left-2 {{ hidden_success }}" role="alert">用户添加成功 ! !</div>
    <!-- 当前页展示 -->
    <div class="content content-padding">
        <div class="content-header">
            <h3 style="text-indent: 20px;">添加用户</h3>
        </div>

        <form class="form-horizontal" style="margin-top: 30px;" action="{% url 'cmdb_ui:user_add' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username" name="username" aria-required="true" placeholder="user name">
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="username">该字段不能为空!</span>
            </div>

            <div class="form-group">
                <label for="realname" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="realname" name="realname" placeholder="real name">
                </div>
            </div>

            <div class="form-group">
                <label for="password1" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password1" name="password1" aria-required="true">
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="password1">该字段不能为空!</span>
            </div>

            <div class="form-group">
                <label for="password2" class="col-sm-2 control-label">再次输入密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password2" name="password" aria-required="true">
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="password">该字段不能为空!</span>
                <span class="alert alert-danger tip-window hidden" role="alert" id="errPass">两次输入的密码不相同!</span>
            </div>

            <div class="form-group">
                <label for="usergroup" class="col-sm-2 control-label">用户组</label>
                <div class="col-sm-6">
                    <select name="usergroup" id="usergroup" multiple class="form-control">
                        {% for usergroup in usergroups %}
                        <option value="{{ usergroup.id }}">{{ usergroup.groupname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="xxx@example.com" aria-required="true">
                </div>
                <span style="color: red; font-size: 20px;">*</span>
                <span class="alert alert-danger tip-window hidden" role="alert" bind_name="email">该字段不能为空!</span>
            </div>

            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="mobile" name="mobile">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="button" id="submit_button" class="btn btn-sm btn-success form-control">提交</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block JavaScripts %}
    <script type="text/javascript" src="{% static 'js/add.js' %}"></script>
    <script>
        $(function () {
            var $submit_button = $('#submit_button');
            var $required = $('input[aria-required="true"]');
            var $pass1 = $('#password1');
            var $pass2 = $('#password2');
            var $errpass = $('#errPass');

            // remove other events;
            $submit_button.off();

            $submit_button.on('click', function () {
                if (!checkNull($required)){
                    return false;
                }

                if ($pass1.val().trim() === $pass2.val().trim()) {
                    $errpass.addClass('hidden');
                    $('form').submit();
                } else {
                    $errpass.removeClass('hidden');
                }
            });

            $pass2.on('focus', function () {
                if (!$errpass.hasClass('hidden')){
                    $errpass.addClass('hidden');
                }
            });
        })
    </script>

{% endblock %}