.tip-window{
    position: relative;
    padding: 6px;
    margin-left: 10px;
}

.tip-window:after, .tip-window:before{
    /*border: 8px solid transparent;*/
    border: solid transparent;
    /*border-right: 10px solid #f00;*/
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}

.tip-window:after{
    border-width: 9px;
    border-right-color: #f2dede;
    top: 2px;
}

.tip-window:before{
    border-width: 9px;
    border-right-color: #f2dede;
    top: 2px;
}


fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    /*border-bottom: none;*/
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.add-info {
    float: right;
    margin-top: -23px;
}