td{
    line-height: 2px !important;
    cursor: pointer;
}

.cabinet-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.blue {
    background-color: #ffcc66;
    color: whitesmoke;
}

td>a, td>a:link, td>a:focus, td>a:visited, td>a:active {
    text-emphasis: none;
    color: black;
}

td>a:hover{
    text-decoration: none;
    color: black;
}

