.warp {
    position: relative;
    /*height: auto;*/
    min-height: 100%;
    padding-bottom: 60px;
}

#menu{
    position: fixed;

    width: 200px;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.icon{
    float: left;

    margin-top: 11px;
    margin-left: 20px;

}

.custom-title {
    float: left;

    color: white;
    font-size: 17px;

    margin-left: 20px;
    margin-top: 5px;
    margin-right: 0;

    cursor: pointer;
}

#UserInfo{
    position: absolute;
    margin-left: 53px;
    margin-top: 10px;

    width: 135px;
    height: 110px;

    background-color: #FFFFFF;
}


#UserInfo .info-layout{
    cursor: pointer;
    display: block;
    color: dimgray;
    text-indent: 20px;
    font-size: 15px;
    height: 25px;
    padding-top: 10px;
}

/*a.info-layout:hover{*/
    /*background-color: #E9EBED;*/
/*}*/

#menu div, #menu a {
    color: white;
}

#menu a:hover{
    font-weight: 600;
}

a{
    text-decoration: none;
}

#menu a:hover, #menu a:active, #menu a:visited, #menu a:link {
    text-decoration: none;
}

#dashboard{
    margin-top: 30px;
    height: 50px;
    /*background-color: #1F1F1F;*/

}

#dashboard .dashboard-padding{
    padding-top: 14px;
}


.GroupSpace{
    margin-top: 20px;
    /*background-color: #00A4BD;*/

}

.parentMenu{
    height: 30px;
    cursor: pointer;
    /*background-color: gray;*/
}

.font-icon{
    margin-left: 30px;
}

.coarse-font{
    /*font-weight: 600;*/
    font-size: 14px;

    margin-left: 5px;
}

ul.submenu{
    margin-top: 0;
    /*margin-bottom: 10px;*/
    /*opacity: 0.8;*/
}

.bgcolor {
    background-color: #162128;
}


ul.submenu li{
    list-style: none;
    font-size: 13px;
    margin-left: 20px;

}

.hide {
    display: none;
}


.navigation{
    margin-top: 30px;
    height: 50px;
    background-color: white;
    padding: 13px 15px;

    border-top: 1px #DCDDCC solid;
    border-bottom: 1px #DCDDCC solid;
}

.navigation .nav-content {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
}




