.content{
    margin: 30px 2% 0 2%;
    background-color: white;
}

.content-header {
    height: 65px;
    border-bottom: 1px #DBDBDB solid;
    border-top: 3px #DBDBDB solid;
}


.content-op{
    height: 40px;
    margin-bottom: 10px;
}

.search{
    float: right;
    margin-right: 2%;
    margin-top: 11px;
}

.search-width {
    width: 300px;
}

.table-page{
    margin-left: 20px;
    margin-right: 2%;
}

.btn-asset-position{
    margin: 10px 20px;
}

table,th,td{
    text-align: center;
    cursor: auto;
}

td, th{
    font-size: 13px;
}

tr.eventcolor{
    background-color: #f9f9f9;
}

tr.oddcolor{
    background-color: white;
}

tr.movecolor{
    background-color: #F4F4F4;
}

.page-color {
    background-color: #f1f1f1 !important;
}
