body{
    background-color: #F5F5F5;
}

#main-window{
    /*position: absolute;*/

    margin-top: 3%;
    /*margin-left: 34%;*/

    height: 446px;
    width: 451px;
    display: none;
}

#main-window #logo{
    height: 149px;
    margin-top: 16%;
}


.welcome-font{
    margin-top: 3%;

    height: 60px;
    color: #69B3CA;
    font-size: 30px;
}


.error-prompt{
    font-size: 13px;
    color: red;
    width: 112px;

}
.hide {
    display: none;
}


.user_pwd_error{
    width: 299px;
    margin-top: 8px;

}

.font-prompt{
    background-color: orangered;
    color: white;
    font-size: 13px;
    width: 115px;
    margin-left: 25%;
}